/* Importing the Fonts, Requires Network Connection */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

/* Styling For Navigation Bar and Hero Section */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  user-select: none;
  font-family: "Style Script", cursive;
  font-size: bold;
  text-align: left;
  position: absolute;
  left: 30px;
  top: 25px;
}

.socials {
  text-align: right;
  position: relative;
  top: -30px;
}

.socials > a > i {
  color: #a19882;
}

.socials > a {
  text-decoration: none;
  padding: 5px;
  background-color: antiquewhite;
}

.navigation_bar {
  animation: fadein 1.5s;
  background-color: #fef7dc;
  padding: 20px 25px;
  text-align: center;
}

.navigation_bar > ul > li {
  display: inline-block;
  padding: 10px;
}

.navigation_bar > ul > li:hover {
  border-bottom: 1px solid #a19882;
  cursor: pointer;
}

.navigation_bar > ul > li > a {
  font-family: "Poppins";
  font-size: large;
  text-decoration: none;
  color: #a19882;
}

#hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: grayscale(100%);
}

.image-container > .hero-image-text {
  background-color: rgba(0, 0, 0, 0.548);
  position: absolute;
  width: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins";
  text-align: center;
  font-size: bold;
  color: white;
}
hr {
  background-color: white;
  width: 50%;
  height: 1px;
  border-width: 0;
  color: white;
  position: relative;
  left: 25%;
}

/* Here goes the styling for About Section */

.about-section {
  position: relative;
  top: -10px;
  margin: 0;
  font-family: "Poppins";
  text-align: center;
  color: #ffffff;
  background-color: #484041;
}

.about-card-container {
  border-radius: 10px;
  display: inline-block;
  margin-top: 2%;
  margin-left: 5%;
  background-color: #ff715b;
  padding: 20px;
  max-width: 33%;
  text-align: left;
  text-overflow: clip;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.26);
}

footer {
  font-family: "Poppins";
  text-align: center;
  margin: 0;
  position: relative;
  top: -10%;
  background-color: #434371;
}
